.main {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
  min-height: 100vh;
  padding: 4rem 0;
}

.handContainer{
  display: flex;
  flex-direction: column;
}

.checkContainer {
  display: flex;
  justify-content: center;
  
}

.check {
  margin: 3px
}
  
.cancel {
  margin: 3px
}